<html>
    <script src="https://d3js.org/d3.v5.js"></script>
    <body>
        <svg id="myPlot" style="width:1000px;height:500px"></svg>
        <script>
            // Set Dimensions
            const xSize = 1000; 
            const ySize = 500;
            const margin = 40;
            const xMax = xSize - margin*2;
            const yMax = ySize - margin*2;

            // Append SVG Object to the Page
            const svg = d3.select("#myPlot")
            .append("svg")
            .append("g")
            .attr("transform","translate(" + margin + "," + margin + ")");

            // X Axis
            const x = d3.scaleLinear()
            .domain([1652155957, Math.floor(Date.now() / 1000)])
            .range([0, xMax]);

            svg.append("g")
            .attr("transform", "translate(0," + yMax + ")")
            .call(d3.axisBottom(x));

            // Y Axis
            const y = d3.scaleLinear()
            .domain([0, 100])
            .range([ yMax, 0]);

            svg.append("g")
            .call(d3.axisLeft(y));

            // Create Random Points
            const data = d3.json('/data').then((data) => {
                // Dots
                svg.append('g')
                .selectAll("dot")
                .data(data).enter()
                .append("circle")
                .attr("cx", function (d) { return x(d[0]) } )
                .attr("cy", function (d) { return y(d[1]) } )
                .attr("r", 2)
                .style("fill", "Red")

                svg.append('g')
                .selectAll("dot")
                .data(data).enter()
                .append("circle")
                .attr("cx", function (d) { return x(d[0]) } )
                .attr("cy", function (d) { return y(d[2]) } )
                .attr("r", 2)
                .style("fill", "Blue");
            });
        </script>    
    </body>
</html>
